{% extends 'base.html' %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
		var dishes = {{ dishes|tojson }};
		var course_types = {{ course_types|safe }};
</script>

<!-- <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>	
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<!-- <script src="{{url_for('.static', filename='js/jquery.js')}}"></script> -->
<script src="{{url_for('.static', filename='js/sides.js')}}"></script>
{% endblock %}
